# Arquivos de compilação e binários
bin/
obj/

# Arquivos de configuracoes do projeto
*.json

# Arquivos de dependências do projeto
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config

# Arquivos de publicação
*.publish.xml
*.pubxml
*.pubxml.*

# Arquivos de configuração do Visual Studio
.vs/
.vscode/
*.suo
*.user
*.sln.docstates
*.sln.ide

# Pacotes NuGet
*.nuget.props
*.paket.*
*.paket/

# Cache de ferramentas
**/bin/
**/obj/

# Arquivos de backup
*~
*.*~
