@{
    ViewData["Title"] = "Home Page";
}

@model Planets.Models.UserModelView

<div class="text-center">
    <h1 class="display-4">Welcome to the Planets Website</h1>
    <p>To see all the content avaliable, please, signup below</p>

    <section class="d-flex justify-content-around mt-5 w-50 m-auto">
        <form class=" d-flex flex-column justify-content-center row g-2" method="post">
            <div>
                <input type="text" class="form-control" placeholder="Mark" asp-for="Name">
            </div>

            <div>
                <div class="input-group">
                    <span class="input-group-text">#</span>
                    <input type="text" class="form-control" placeholder="Otto" required asp-for="Username">
                </div>
            </div>

            <div>
                <input type="email" class="form-control" placeholder="Email" required asp-for="Email">
            </div>

            <div>
                <input type="password" class="form-control" placeholder="Password" required asp-for="Password">
            </div>

            <div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" required>
                    <p>Agree to <a asp-controller=" Home" asp-action="Privacy">terms</a> and conditions</p>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" type="submit" asp-controller="User" asp-action="SignUp">Sign Up</button>
            </div>
        </form>


        <form class=" d-flex flex-column justify-content-center row g-3" method="post">
            <div>
                <div class="input-group">
                    <span class="input-group-text">#</span>
                    <input type="text" class="form-control" placeholder="Otto" required asp-for="Username">
                </div>
            </div>

            <div>
                <input type="password" class="form-control" placeholder="Password" required asp-for="Password">
            </div>

            <div>
                <button class="btn btn-primary" type="submit" asp-controller="User" asp-action="SignIn">Sign Up</button>
            </div>
        </form>
    </section>

</div>
